#welcome-modal.custom-home-modal {
    .modal-background{
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed; /* Stay in place */
      z-index: 1001; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    }
    .modal-pop {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */      
      /*border: 1px solid #888;*/
      width: 800px;
      border-radius: 1em;

      .modal-title {        
        background-color: var(--tertiary-hover);/*var(--tertiary-low); //light blue*/
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
        border-top-right-radius: 1em;
        border-top-left-radius: 1em;

        $brand-color: #9acd32; /*var(--tertiary-hover)*/;
        $body-color: var(--tertiary-low);

        h1{
          margin: 0.5em auto 0 auto;
          color: white; /*var(--tertiary-hover) //dark blue*/;
        }

        .progress-container {
            width:100%;
            margin: 0 auto 1em auto; 
          }
          .progress-steps {
            margin: 1em 0 0 0;
            counter-reset: step;
          }
          .progress-steps li {
            list-style-type: none;
            width: 25%;
            float: left;
            font-size: .7em;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            color: $body-color;
            z-index: 1;
          }
          .progress-steps li:before {
            width: 2.5em;
            height: 2.5em;
            content: counter(step);
            counter-increment: step;
            line-height: 2.5em;
            border: 2px solid #9acd32;
            display: block;
            text-align: center;
            margin: 0 auto .7em auto;
            border-radius: 50%;
            background-color: #9acd32;
            z-index: 1;
            color: var(--tertiary-hover);
            font-weight: bold;
          }
          .progress-steps li:after {
            width: 90%;
            height: 2px;
            content: '';
            position: absolute;
            background-color: $body-color;
            top: 1.3em;
            left: -42%;
            z-index: -1;
          }
          .progress-steps li:first-child:after {
            content: none;
          }
          .progress-steps li.active {
            color: $brand-color;
          }
          .progress-steps li.active:before {
            border-color: $brand-color;
            background-color: white;
          }
          .progress-steps li.active:after {
            background-color: $brand-color;
          }

      }            
      .modal-footer {
        color: var(--primary-medium);
        a {
        color: var(--primary-medium);
        }
      }
      .modal-content {
        padding: 20px 40px 20px 70px;
        text-align: left;
        max-height:400px;
        overflow:auto;
        
        .btn-primary{
          background: yellowgreen;
          padding: 0.5em 1em 0.65em 1em;
        }
        h2 {
          color: var(--primary);
          text-align: left;
        }
        p {
          color: var(--primary);
          text-align: left;
        }
        .step {
          display:block;
          /*
          border:1px solid #eee;
          margin:0.5em 0;
          padding:0.5em;
          border-radius:1em;
          */
          h3 {
            text-align:left;
            color:var(--tertiary-hover);/*var(--tertiary);*/
            font-size: 1.3em;
            margin-bottom: 0.65em;
          }
          .btn-default{
            font-size: 0.8em;
            padding: 0.4em 0.65em 0.45em 0.65em;
          }
          img.as-ico-img {
            width: 22px;
          }
          
          .row {
            display: flex;
            align-items: stretch;
            flex-direction: row;

            .col{
              flex-basis: 380px;
            }
            .col-title {
              color: var(--tertiary);
              font-size: 1.1rem;
              font-weight: bold;
            }
            .col-check-box{
              flex-basis: 1;
            }
            .col-description{
              flex-basis: auto;
              margin-bottom: 1em;
            }
          }

          //step-2
          .row-wrap-1 { display:grid; column-gap: 50px; grid-template-columns: 50% auto;}
          .row-wrap-2 { display:grid; column-gap: 50px; grid-template-columns: 20% auto; margin-top:1em; padding-top:1em; border-top:1px solid #999;}
          .col-wrap { display:block; }
          .col-wrap .input-xxlarge{width:auto;}
          .col-wrap .instructions {clear:both;display: block !important;margin-top: 0.4em !important;}
          .col-wrap input { border-radius:2.2em}
          .col-wrap label.control-label {font-weight:bold; margin-bottom:0.5em}
          .col-wrap label.control-label span.instructions {font-weight:normal; padding-left:0.5em}
          .col-wrap .control-group.user-name button{ background-color:yellowgreen !important}
          .col-wrap .control-group.user-name button svg{color:white;}
          .col-wrap .control-group.user-name button:hover svg{color:white !important;}
          .col-wrap .btn-icon-text {border-radius:2.3em;width:2em;}
          .col-wrap .btn-icon-text svg{margin:0;color: white !important;}          
          .col-wrap .control-group.pref-avatar button svg {color:white;}
          .col-wrap .control-group.pref-avatar button:hover svg {color:white !important;}
          .col-wrap img.avatar {max-width: 108px; max-height: 108px;}
          .col-wrap .control-group.pref-avatar {position:relative;}
          .col-wrap .control-group.pref-avatar button {position:absolute;top: 103px;font-size: 0.9em !important;background-color: yellowgreen;}

          .control-group.user-name .form-horizontal {
            margin: 0;
            padding: 0;
          }
          
          .control-group.user-name {
              height: 59px;
          }

          .col-username-controls {
            margin-left: 1em;
          }

          .col-username .instructions p {
            text-align: right;
            margin:0.2em;
            color: red
          }

          //step-4
            .composite-button {
              display:flex;
              background:var(--primary-very-low);
              border-radius:0.5em;
              margin:0 1em 1em 1em;
              /*width:90%;    */
              flex-direction: row;
              align-content: center;
              align-items: center;
              height: 100px;

              img{width:50px; margin:1em}
            }

            .composite-button:hover {
              background:var(--tertiary-low);
            }
            
            .black-2-blue{
              filter: invert(58%) sepia(73%) saturate(7182%) hue-rotate(179deg) brightness(96%) contrast(102%);
            }
            span.button-title {
              display:block;
              font-weight: bold;
              flex-basis: 100%;
              color: var(--primary);
            }            
            span.button-description {
                display:block;
                color: var(--primary);
            }
            .complete-button-wrapper {
              display:none;
              text-align: center;
              margin: 1em 0 0 0;
            }
            .next-button-wrapper{
              text-align: right;
              padding-right: 0;
            }
          
        }
        .instructions {
          font-size: 0.8rem;
          color: #999;
          line-height: 1em;
          margin: 0;
          display: contents;
        }
        .d-editor-container {
          display: flex;
          flex-grow: 1;
          max-width: 100%;
          flex-direction: column;
        }
        img.emoji {
          height: 1.2em !important;
          width: 1.2em !important;
          line-height: 1em !important;
          vertical-align: text-bottom;
          margin-bottom: 0 !important;
        }
        .d-editor-preview-wrapper { margin: 0.1em 0 0 0.6em !important; max-height: 70px; }

        .user-profile-avatar {
          margin-bottom: 0.5em;
        }
      }

      .modal-inner-container {
        background-color: var(--secondary);
      }
      
      .modal-footer {
        color: var(--primary-medium);
        justify-content: left;
        a {
          color: var(--primary-medium);
          outline: none;
          margin: 0 0.25em;
        }
        .break{
          flex-basis: 100%;
          height: 0;
        }
        .debug {
          color:red;
        }
      }

    }      
}
